body {
    background-color: antiquewhite
}

.movieDisplayBoxes {
    display: flex;
    flex-wrap: wrap;
}

.movieBox {
    margin: 1%;
    border: black 1px solid;
    padding: 4px;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.imageDisplay {
    height: 15vw;
    width: 10vw;
}